*::-webkit-scrollbar 
  width: 5px;
  height: 5px;

*::-webkit-scrollbar 
    width: 6px;
    height: 7px;

*::-webkit-scrollbar-thumb 
    border-radius: 6px;
    background: linear-gradient(120deg,#e0c3fc,#8ec5fc);

*::-webkit-scrollbar-track 
    border-radius: 6px;

$accentColor = #4ba0f9;


