*::-webkit-scrollbar 
  width: 5px;
  height: 5px;

*::-webkit-scrollbar 
    width: 6px;
    height: 7px;

*::-webkit-scrollbar-thumb 
    border-radius: 6px;
    background: linear-gradient(120deg, #e0c3fc, #8ec5fc);

*::-webkit-scrollbar-track 
    border-radius: 6px;

$accentColor = #4ba0f9;

$rightAnchorBgColor = #fff;
$rightAnchorTextColor = $textColor;
$rightAnchorFontSize = 14px;
// btn
$rightAnchorBtnTextColor = $rightAnchorTextColor;
$rightAnchorBtnBgColor = $rightAnchorBgColor;
// menu
$rightAnchorMenuTextColor = $rightAnchorTextColor;

.ra-menu-item
  max-width: 

.navbar .links
    display: flex;

.navbar .links .search-box
    order: 2;
    padding-left: 1.5rem;


span.badge.tip
  background-color: #27ae60;

span.badge.warning
  background-color: #e67e22;


h2
  border-bottom: none